@import "_mixins.styl";


// inject:all
@import "../../../../../src/client/app/slider/multiple/multiple-slider.styl";
@import "../../../../../src/client/app/slider/single/single-slider.styl";
// endinject
